body {
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    color: #fff;
}

.header {
    display: flex;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.header__name {
    display: flex;
    font-size: 22px;
    font-weight: 700;
}

.header__name:hover {
    color: #01813F;
    transition: 0.2s;
}

.header__action {
    display: flex;
    align-items: center;
}

.header__icons {
    display: flex;
    margin: 0 10px;
}

.header__icon {
    padding-right: 30px;
}

.header__icons::after {
    content: ' ';
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #fff;
    margin-right: 30px;
}

.header__login a {
    text-decoration: none;
    color: #fff;
}

.header__login a:hover {
    color: #01813F;
    transition: 0.2s;
}

.header__icon:hover {
    fill: green;
}


/*---------------------sign form----------------*/

.main {
    margin-top: 54px;
}

.main__container {
    width: 444px;
    height: 584px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.width__container {
    max-width: 322px;
    margin: 0 auto;
}

.main__enter {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main__sign {
    font-size: 20px;
    color: #434343;
}

.main__sign::before {
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: relative;
    right: 61px;
    top: 2px;
}

.main__log-in {
    color: #3CB878;
}

.main__log-in:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.2s;
}

.main__social {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    color: #fff;
}


/*---------------buttons social-----------------------*/

.main__btn-facebook,
.main__btn-google {
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    padding-right: 27px;
    cursor: pointer;
}

.main__btn-google {
    background-color: #DF4A32;
    margin-left: 6px;
}

.main__btn-facebook:hover {
    background-color: #022263;
    transition: 0.2s;
}

.main__btn-google:hover {
    background-color: #AB1F09;
    transition: 0.2s;
}


/*------------icons---------------*/

.bx {
    font-size: 24px;
}

.vertical::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #0a162f1c;
    margin-right: 20px;
}

.bxl-google-plus {
    font-size: 30px;
}


/*------------horizontal line---------------*/

.horizontal-line {
    display: flex;
    margin-top: 28px;
}

.main__left-line::before,
.main__right-line::before {
    content: '';
    display: inline-block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    margin-bottom: 4px;
}

.middle__text {
    color: #848484;
}


/*-----------------------input form--------------------*/

.writter {}

::-webkit-input-placeholder {
    color: #BEBEBE;
}

::-moz-placeholder {
    color: #BEBEBE;
}

:-ms-input-placeholder {
    color: #BEBEBE;
}

:-moz-placeholder {
    color: #BEBEBE;
}

.name,
.lastname,
.email,
.password,
.confrim {
    border: 1px solid #929292;
    padding: 14px 105px 12px 18px;
    margin-bottom: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.name:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.lastname:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.email:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.password:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.confrim:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.confrim {
    margin-bottom: 12px;
}

.name {
    margin-top: 12px;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
}

.check-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #bebebe;
    cursor: pointer;
}

.check-arrow svg {
    display: none;
}

#agree {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#agree:checked+.check-arrow svg {
    display: block;
}

#agree:focus+.check-arrow {
    background-color: rgba(255, 255, 255, 0.816);
}

.mark-agree {
    color: #3CB878;
}

.mark-agree:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.2s;
}

.btn {
    padding: 16px 103px;
    margin-top: 20px;
    color: #fff;
    background-color: #3CB878;
    border-radius: 4px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #01813f;
    transition: 0.2s;
}